.box {
    position: fixed;
    width: var(--box-size);
    height: 30px;
    background-color: var(--primary-color);

    &__mouse {
        position: fixed;
        top: var(--top);
        left: var(--left);
        width: 20px;
        height: 20px;
        background-color: antiquewhite;
        translate: -100% -100%;
        //pointer-events: none; Los eventos no afectan a la caja
    }
}